.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__line {
    width: 30px;
    height: 3px;
    background: #4d4d4d;
  }

  @media(max-width: 600px) {
    .toggle-button {
      margin-right: 32px;
    }
  }

  @media(min-width: 900px) {
      .toggle-button {
          display: none;
      }
  }