.Story__container {
    display: flex;
    flex-wrap: wrap;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: #091740;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding-left: 32px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

.Story__image_box {
    flex: 1 0 40%;
    box-sizing: border-box;
    /* background: #9AABBA; */
    background-image: url('../../Assets//Images//dog_pug_black_profile.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.Story__bio {
    flex: 2 0 60%;
    box-sizing: border-box;
}

.Story__bio p {
    padding: 5px 32px;
}

.Story__bio p:first-of-type {
    padding-top: 32px;
}

.Story__bio h1 {
    font-family: rockwell, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-style: normal;
    padding-left: 32px;
    color: #091740;
}

.Story__bio img {
    position: absolute;
    height: 100px;
    top: -30px;
    left: 40px;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .Story__bio h1 {
        color: white;
    }
    
    .Story__container {
        padding-left: 0px;
    }

    .Story__image_box {
        flex: 1 0 100%;
        height: 400px;
    }

    .Story__bio {
        position: relative;
        top: 0px;
        background: #394A66;
        color: white;
        margin: 32px;
        box-sizing: border-box;
        text-align: justify;
        padding-bottom: 50px;
    }
}

@media(max-width: 768px) {
    .Story__bio h1 {
        color: white;
    }

    .Story__container {
        padding-left: 0px;
    }
    
    .Story__image_box {
        flex: 1 0 100%;
        height: 400px;
    }

    .Story__bio {
        position: relative;
        top: 0px;
        background: #394A66;
        color: white;
        margin: 32px;
        box-sizing: border-box;
        text-align: justify;
        padding-bottom: 50px;
    }
}

@media(max-width: 600px){
    .Story__bio {
        width: 100%;
        margin: 0px;
    }
}