.Contact__container {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    color: #091740;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    padding: 20px;
    padding-top: 0px;
}

.Contact__container h1 {
    font-family: rockwell, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-style: normal;
}

.Contact__business_hours p {
    margin: 0px;
    padding: 0px;
    color: #091740;
}

.Contact__container input::placeholder {
    color: rgb(57, 74, 102, .8);
}

.Contact__container input {
    display: block;
    border: 1px solid #9AABBA;
    padding: 5px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    padding-left:16px;
    margin: 16px auto;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

.Contact__container textarea::placeholder {
    color: rgb(57, 74, 102, .8);
    padding: 5px;
}

.Contact__container textarea {
    border: 1px solid #9AABBA;
    padding: 5px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    padding: 5px;
    display: block;
    height: 100px;
    resize: unset;
    width: 100%;
    max-width: 350px;
    margin: auto;
    box-sizing: border-box;
}

.Contact__input_container {
    text-align: center;
    box-sizing: border-box;
}

.Contact__input_container input:focus {
    outline: none;
}

.Contact__input_container textarea:focus {
    outline: none;    
}