
.Footer__container {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;   
}

.Footer__container ul {
    display: block;
    margin: auto;
}

.Footer__container ul li {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 10px 10px;
}

.Footer__container ul li:last-of-type {
    margin-bottom: 50px;
}

.Footer__container ul li a {
    font-family: rockwell, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #707070;
    letter-spacing: .1em;
    font-size: 1em;
}

.Footer__contact_info {
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    font-size: .8em;
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #394A66;
}

.Footer__contact_info hr {
    border: 0px;
    border-top: 1px solid #707070;
}

@media (max-width: 599px) {
    /* .Footer__container ul {
        display: none;
    } */

    .Footer__container ul li{
        flex: 1;
        width: 100%;
        padding: 8px 0px;
    }

    .Footer__container ul li:first-of-type {
        margin-top: 30px;
        margin-bottom: 0px; 
    }

    .Footer__container ul li:last-of-type {
        margin-top: 0px;
        margin-bottom: 15px; 
    }
}